.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.deck {
  align-self: flex-start;
}
img {
  width: 150px;
  height: 200px;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 5px;
  margin-left: 5px;
}
body {
  background-image: url(./images/black-jack-table-background-green-600nw-1937358541.jpg.webp);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
